* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

canvas {
	width: 80%;
	height: 100%;
    display: block;
    float: left;
}  

#rest {
	width: 20%;
	height: 100%;
    float: left;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

#rest h1{
    font-size: 2.9vw;
}

#scores{
    font-size: 4vw;
}

#finalScore{
    font-size: 2.9vw;
}

#rule{
    font-size: 1.5vw;
    text-align: left;
    padding-left: 1vw;
}