* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

canvas {
	width: 80%;
	height: 100%;
    display: block;
    float: left;
}  

div {
	width: 20%;
	height: 100%;
    float: left;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

div h1{
    font-size: 2.9vw;
}

div p{
    font-size: 4vw;
}